/* * {
  margin: 0;
  padding: 0;
} */

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;

}

/* disble scrolling past content */
html, 
body {
  overflow: hidden;
}

body {
  background-color: #F0E9D3;
}
